@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
.outer_loading_class {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.inner_loading {
    display: flex;
}
.mycustomlabel {
    height: 55vh;
}
.mycustomlabel label {
    display: inline-block;
}
.mycustomlabel .text-left {
    position: relative;
}
.edit_icon_show {
    position: absolute;
    top: 37px;
    right: 8px;
    font-size: 12px;
    color: blue;
    cursor: pointer;
}
.edit_icon_show_dropdwon {
    position: absolute;
    top: 36px;
    right: 30px;
    font-size: 12px;
    color: blue;
    cursor: pointer;
    z-index: 5;
}
.mycustom_fix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin: auto;
    height: 100vh;
}
.inner_custom_fix {
    background: #fff;
    float: left;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
}
.whiteocolor svg {
    stroke: #ffffff;
}
.grsa-Dj svg {
    display: none !important;
}
.blurColor {
    color: #6366F1;
}
.bg-primary-custom {
    background: rgb(var(--color-primary));
}
.hover\:bg-primary-custom:hover {
    background: rgb(var(--color-primary));
}
.text-custom-white {
    color: #fff;
}
.custom_bg_header {
    background: rgb(var(--color-primary));
    border-radius: 5px 5px 0 0 !important;
    color: #fff;
}
.custom_tabke th {
    background: #fbfbfb;
    border: 1px solid #f3f3f3;
    font-size: 13px;
    width: 200px;
}
.custom_tabke pre {
    font-family: inherit
}
.must-overflow-y {
    overflow: visible!important;
}
.custom_checkbox input {
    border: 1px solid #ccc;
}
.ActArchive {
    color: #A3A3A3;
    font-weight: 500;
}
.activeArchive {
    color: rgb(var(--color-primary));
    font-weight: 500;
}
.mycustominput input {
    /* height: 40px; */
}
.mycustominput label {
    margin-bottom: 2px;
    float: left;
    width: 100%;
    color: #171717
}
.tom-select.ts-wrapper {
    clear: both;
}

.task_heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #221749;
}

.table_bg_custom {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.blue_color {
    color: #4F46E5 !important;
    cursor: pointer;
}
.align-center {
    align-items: center;
}
.custom_pre {
    margin-top: 5px;
    margin-left: 20px
}
.custom_pre pre {
    font-family: inherit;
    width: 90%;
    float: left;
    white-space: pre-wrap;
}
.custom_multiple_input input[type="text"] {
    width: 120px;
    height: 30px;
}
.cursor_move {
    cursor: move;
}

@media (max-width: 820px) {
    .mycustom_fix { width: 95%;}
    .custom-60 {
        width: 100% !important;
    }
    .custom-40 {
        width: 100% !important;
    }
    .custom_pdf_flex {
        flex-direction: column;
    }
    .htmlContract,  .custom-p5 {
        padding: 0 !important;
    }
    .custom_bg_mobile {
        width: 100% !important;
    }

}

.customdisabled input:disabled{
    background: #fafafa;
    border: 1px solid #fafafa;
    box-shadow: none;
}

.custom_center {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}

.full_row_quote {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}
.full_row_quote .bold_heading {
    font-weight: bold;
    font-size: 15px;
    width: 17.2%;
}
.row_two_column .bold_heading {
    font-weight: bold;
    font-size: 15px;
    width: 35%;
}
.row_two_column {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.row_two_column .flex_1 {
    width: 49%;
    gap: 20px;
    align-items: center;
}
.hover_info {
    padding: 15px;
    cursor: pointer;
}
.hover_info:hover {
    color: #f2620f;
}
.hover_activ {
    background: rgb(var(--color-primary));
    color: white !important;
}


/*PDFFFF*/
.htmlContract {
    margin-top: 0px;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    height: calc(100vh - 24vh)
}
.htmlContract .page {
    background: #ffffff;
    padding: 20px 25px 14px;
    margin: auto;
    max-width: 100%;
}
.htmlContract .page.forceWidth {
    width: 210mm;
    height: 297mm;
}
.htmlContract .page table td {
    font-size: 14px;
}
.htmlContract .page p {
    font-size: 14px;
    font-weight: 500;
    color: #565656;
}
.htmlContract .page td.line {
    font-size: 13px;
}
.htmlContract .page td.line:after {
    bottom: 14px;
}
.htmlContract .page .line {
    font-weight: 700 !important;
    margin-bottom: 14px;
    position: relative;
    vertical-align: bottom;
}
.htmlContract .page .line:after {
    content: "";
    height: 1px;
    width: 250px;
    max-width: 96%;
    display: block;
    position: absolute;
    bottom: 0;
    background: black;
}
.htmlContract .page .line b {
    font-weight: 700 !important;
}
.htmlContract .page .line .placeholder_sign {
    border: none;
    display: inline-block;
    font-weight: 400;
}
.htmlContract .page .line .placeholder_sign img {
    left: 6px;
    bottom: -20px;
}
.htmlContract .page table.invoice {
    width: 100%;
}
.htmlContract .page table.invoice tr {
    border-bottom: 1px solid #c9c9c9;
}
.htmlContract .page table.invoice tr:last-child {
    border-bottom: 0;
}
.htmlContract .page table.invoice tr:last-child table {
    border-top: 1px solid black;
}
.htmlContract .page table.invoice tr td {
    padding-bottom: 4px;
    padding-top: 20px;
    min-width: 4cm;
}
.htmlContract .page table.invoice tr td:last-child {
    width: 4cm;
    text-align: right;
}
.htmlContract .page .placeholder_sign {
    width: 200px;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid grey;
    display: inline-block;
}
.htmlContract .page .placeholder_sign img {
    position: absolute;
    bottom: 0;
}
.htmlContract .page table.client_signature {
    width: 100%;
}
.htmlContract .page table.client_signature td {
    width: 50%;
    padding-bottom: 20px;
    font-weight: 700;
}
.htmlContract .page table.footer_table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0px;
}
.htmlContract .page table.footer_table td{
    text-transform: uppercase;
    color: #cecece;
    width: 33%;
    font-size: 12px;
}
.htmlContract .page table.footer_table td p{
    text-transform: uppercase;
    color: #cecece;
    font-size: 12px;
}
.htmlContract .page table.footer_table td:nth-child(2) {
    text-align: center;
    width: 23%;
}
.htmlContract .page table.footer_table td:nth-child(3) {
    text-align: right;
    width: 25%;
}
.htmlContract .page table.footer_table td:nth-child(3) img {
    max-width: 140px;
    margin-left: auto;
    filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(0deg) saturate(0%);
  /* The above line sets various filters to achieve the desired color change */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  /* The above line is needed for Safari compatibility */
}
.htmlContract .page .client-table {
    width: 100%;
}
.htmlContract .page .client-table td {
    width: 50%;
    text-align: left;
    vertical-align: top;
}
.htmlContract .page .header .logo {
    margin-bottom: 30px;
}
.htmlContract .page .header .logo img {
    max-width: 215px;
    margin-left: -13px;
}
.htmlContract .page .header .title h1 {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}
.client-table b {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #202020;
}
.heading_pdf {
    min-width: 27%;
    display: inline-block;
    margin-bottom: 10px;
}
.pdf_below_data {
    text-transform: uppercase;
    text-decoration: underline;
    color: #202020;
    font-size: 11.5px;
    font-weight: 500;
    margin-bottom: 14px;
    width: 100%;
}
.redclass {
    color: red;
}

.rdt_Pagination .gPzcGm svg, .rdt_Pagination .svYMe svg {
    display: none !important;
}
.custom-40 {
    width: 25%;
}
.custom-60 {
    width: 75%;
}
.pdf_detail {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}
.ck-editor__editable {
    height: 200px;
}
.image_signature {
    position: absolute;
    top: -15px;
}
.image_signature img{
    height: 54px;
}